body,
html {
    overflow-x: hidden;
}

#faq {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.icon {
    font-size: 48px;
}

.link {
    position: relative;
    overflow: hidden;
}

.link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #007bff;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.link:hover::after {
    transform: scale(1);
}

.contact-icon {
    color: #007bff;
}

.social-icons .icon {
    transition: all 0.5s;
}

.social-icons .icon:hover {
    color: #228be6;
}

.logo {
    width: 90px;
}

.account-container {
    margin-top: 10em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.change-pass-container {
    margin-top: 15em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.delete-acc-container {
    margin-top: 15em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.change-pass-btn {
    margin-left: 115px;
}

.del-acc-btn {
    margin-left: 115px;
}

.active {
    color: #007bff !important;
}

.ajs-message.ajs-custom {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #31708f !important;
}

/* .dt-buttons {
    margin-top: 50px !important;
} */

/* 
input {
    position: relative;
    bottom: 40px;
} */

.form-control-sm {
    position: relative;
    bottom: 35px;
}

.add-product-container {
    margin-top: 11em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.add-product-btn {
    position: relative;
    top: 80px;
}

.edit-product-container {
    margin-top: 11em !important;
}

.edit-stock-container {
    margin-top: 9.5em !important;
}

.add-product-container {
    max-width: 600px;
    margin-top: 15em !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin: 0;
    display: none;
}

.show>.dropdown-menu>.dropdown-submenu>.dropdown-menu {
    display: block;
}

.custom {
    background-color: #007bff;
    border-color: #007bff;
}

.custom:hover {
    background-color: #1c7ed6;
    border-color: #1c7ed6;
}